* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 1000px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    width: 100%;
    padding-bottom: 20px;
}

.logo {
    width: 100%;
    height: auto;
    background-image: url(../images/bg-header-desktop.png);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
}

.head1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

.head1 p {
    color: grey;
}

@media (max-width : 567px) {
    .logo {
        width: 100%;
        height: auto;
        background-image: url(../images/bg-header-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 10px;
    }

    .head1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .btn {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

}

/* ------------------------------------main-------------------------- */
.sec2 {
    width: 100%;
    padding: 20px 0;
}

.container21 {
    width: 45%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 50px 0;
}

.container22 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width : 567px) {
    .container22 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px 0;
        gap: 20px;
    }
}

.div2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.div2 span {
    font-weight: bold;
    font-size: 18px;
}

.sec2 p {
    color: grey;
}

/* ---------------------------section 2---------------------- */
.sec3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

@media (max-width : 567px) {
    .sec3 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px 0;
        gap: 20px;
    }

    .img3 img {
        width: 100%;
        padding: 40px 0;
    }
}

.sec3 img {
    padding: 40px 0;
}

.sec3 p {
    color: grey;
}

.h33 {
    font-size: 28px;
}

/* ----------------------section 3-------------------------------- */
.sec4 {
    width: 100%;
    padding: 30px 0;
}

.sec4 p {
    color: grey;
}

.head4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-bottom: 50PX;
}

@media (max-width : 567px) {
    .head4 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        margin-bottom: 50PX;
    }
}

.h34 {
    font-size: 25px;
}

.icons4 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width : 567px) {
    .icons4 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 40px;
    }
}

.icon4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.icons4 div P {
    font-size: 13PX;
}

/* --------------------section 4------------------------------------ */
.sec5 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
}

@media (max-width : 567px) {
    .sec5 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 40px;
    }
}

.sec5 img:hover {
    transform: scale(1.2);
}

/* -------------------------section 5----------------------------- */
.sec6 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px 0;
}

@media (max-width : 567px) {
    .sec6 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        text-align: center;
    }
}

.h36 {
    font-size: 28px;
    color: rgba(0, 0, 0, 0.733);
}

.sec6 p {
    color: grey;
}

.btn button {
    padding: 20px 40px;
    border-radius: 30px;
    border: 0;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.btn1 {
    background-color: hsl(171, 66%, 44%);
    margin-right: 10px;
}

.btn2 {
    background-color: hsl(233, 68%, 55%);
}

.btn button:hover {
    opacity: 0.4;
    transform: scale(1.1);
}

/* -------------------------section 6---------------------------- */

footer {
    width: 100%;
    height: auto;
    background-color: hsl(202, 26%, 83%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

@media (max-width : 567px) {
    footer {
        width: 100%;
        height: auto;
        background-color: hsl(202, 26%, 83%);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        padding: 20px 0;
    }
}

.links {
    width: 600px;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width : 567px) {
    .links {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .links li {
        padding: 10px 0;
    }
}

.links li {
    list-style-type: none;
}

.links li:hover {
    color: white;
    text-decoration: underline;
    transform: scale(1.1);
}

.icons {
    width: 100px;
    display: flex;
    justify-content: space-around;
}

.icons i {
    font-size: 18px;
    color: black;
    opacity: 0.5;
}

.icons i:hover {
    transform: scale(1.2);
    color: white;
}